header.header.header-14.border-bottom-0
  .header-middle
    .container-fluid
      .row.align-items-center
        .col-auto.col-lg-3.col-xl-3.col-xxl-2
          a.logo(href='index.html')
            img(src='images/demos/demo-14/logo.png' alt='Logo Molla' width='105' height='25')
        .col.col-lg-9.col-xl-9.col-xxl-10.header-middle-right
          .row.align-items-center
            .col-lg-8.col-xxl-4-5col
              .header-search.header-search-extended.header-search-visible.header-search-no-radius
                a.search-toggle(href='#' role='button')
                  i.icon-search
                form.d-none.d-lg-block(action='#' method='get')
                  .header-search-wrapper.search-wrapper-wide
                    label.sr-only(for='q') T&igrave;m ki&#x1EBF;m
                    input#q.form-control(type='search' name='q' placeholder='Tìm kiếm sản phẩm ...' required='')
                    button.btn.btn-primary(type='submit')
                      i.icon-search
            .col-lg-3.col-6.d-flex.justify-content-end.align-items-center.infor
              - if(user)
                .account
                  a.header-icon(href='#signin-modal')
                    svg.bi.bi-person-fill(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6')
                ul.logout 
                  li 
                    form(action=`/auth/${user.id}?_method=DELETE`, method="post") 
                     button(type="submit" vlue="logout") logout
              - else 
                .account
                  a.header-icon(href="/auth/signin")
                    svg.bi.bi-person-fill(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6')
            .col-lg-1.col-6.d-flex.justify-content-end.align-items-center
              .cart
                a(href='#')
                  svg.bi.bi-cart(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2')
